{{#d-modal-body title="explorer.help.modal.title"}}
  <h3>{{i18n "explorer.help.modal.custom_params.title"}}</h3>
  <p>{{i18n "explorer.help.modal.custom_params.body"}}</p>
  <pre><code class="sql">{{html-safe (i18n "explorer.help.modal.custom_params.code")}}</code></pre>

  <h3>{{i18n "explorer.help.modal.query_data_types.title"}}</h3>
  <p>{{i18n "explorer.help.modal.query_data_types.body"}}</p>
{{/d-modal-body}}