<div class="result-info">
  {{d-button action="downloadResult" icon="download" label="explorer.download_json"}}
  <div class="result-about">
    {{duration}}
  </div>
</div>

{{~#if hasExplain}}
  <pre><code>
    {{~content.explain}}
  </code></pre>
{{~/if}}

<table>
  <thead>
  <tr class="headers">
    {{#each handler in columnHandlers}}
      <th>{{handler.displayName}}</th>
    {{/each}}
  </tr>
  </thead>
  <tbody>
  {{#each row in rows}}
    {{query-row-content row=row colRenders=columnHandlers extra=content}}
  {{/each}}
  </tbody>
</table>
