<div class="result-info">
  {{i18n "explorer.download"}}
  {{d-button action="downloadResultJson" icon="download" label="explorer.download_json"}}
  {{d-button action="downloadResultCsv" icon="download" label="explorer.download_csv"}}
  <div class="result-about">
    {{duration}}
  </div>
</div>

{{~#if hasExplain}}
  <pre><code>
    {{~content.explain}}
  </code></pre>
{{~/if}}

<table>
  <thead>
  <tr class="headers">
    {{#each columnDispNames as |col|}}
      <th>{{col}}</th>
    {{/each}}
  </tr>
  </thead>
  <tbody>
  {{~#each row in rows}}
    {{~query-row-content row=row columnTemplates=columnTemplates parent=controller}}
  {{~/each}}
  </tbody>
</table>
