<section class="user-content">
  <h1>{{model.name}}</h1>
  <p>{{model.description}}</p>

  <form class="query-run" {{action "run" on="submit"}}>
    <ParamInputsWrapper
      @hasParams={{hasParams}}
      @params={{model.params}}
      @paramInfo={{model.param_info}}
      @updateParams={{action "updateParams"}}
    />

    {{d-button
      action=(action "run")
      icon="play"
      label="explorer.run"
      class="btn-primary"
      type="submit"
    }}

    {{d-button
      action=(action "toggleBookmark")
      label=bookmarkLabel
      icon=bookmarkIcon
      class=bookmarkClassName
    }}
  </form>

  {{conditional-loading-spinner condition=loading}}

  {{#if results}}
    <div class="query-results">
      {{#if showResults}}
        {{query-result query=model content=results group=group}}
      {{else}}
        {{#each results.errors as |err|}}
          <pre class="query-error"><code>{{~err}}</code></pre>
        {{/each}}
      {{/if}}
    </div>
  {{/if}}
</section>
