<div class={{if hideSchema "hidden"}}>
  <div class="schema-search inline-form full-width">
    {{text-field value=filter placeholderKey="explorer.schema.filter"}}
    {{d-button
      action=(action "collapseSchema")
      icon="chevron-right"
      class="no-text"
    }}
  </div>

  {{conditional-loading-spinner condition=loading}}

  <div class="schema-container">
    <ul>
      {{#each filteredTables as |table|}}
        {{explorer-schema-onetable table=table}}
      {{/each}}
    </ul>
  </div>
</div>
