<div class="schema-table-name">
  {{#if table.open}}
    <i class="fa fa-caret-down"></i>
  {{else}}
    <i class="fa fa-caret-right"></i>
  {{/if}}
  {{table.name}}
</div>
<div class="schema-table-cols">
  {{#if table.open}}
    <dl>
    {{#each table.columns as |col|}}
      <div>
      <dt class="{{if col.sensitive "sensitive"}}" title="{{if col.sensitive (i18n "explorer.schema.sensitive")}}">
        {{#if col.sensitive}}
          <i class="fa fa-warning"></i>
        {{/if}}
        {{col.column_name}}
      </dt>
      <dd>
        {{col.data_type}}
        {{#if col.havetypeinfo}}
          <br>
          <span class="schema-typenotes">
            {{col.notes}}
            {{#if col.enum}}
              {{explorer-schema-enuminfo col=col}}
            {{/if}}
          </span>
        {{/if}}
      </dd>
      </div>
    {{/each}}
    </dl>
  {{/if}}
</div>
