{{#if hideSchema}}
  {{d-button action="expandSchema" icon="chevron-left" class="no-text unhide"}}
{{/if}}
<div class="{{if hideSchema "hidden"}}">
  {{text-field value=filter placeholderKey="explorer.schema.filter"}}
  {{d-button action="collapseSchema" icon="chevron-right" class="no-text"}}
  {{conditional-loading-spinner condition=loading}}
  <div class="schema-container">
    <ul>
      {{#each filteredTables as |table|}}
        {{explorer-schema-onetable table=table}}
      {{/each}}
    </ul>
  </div>
</div>
