<div onclick={{action "open"}}>
  {{d-icon "link"}}
  {{group}}
</div>
{{#if visible}}
  <div class='popup'>
    <label>{{i18n "explorer.link"}} {{group}}</label>
    <input type="text" value={{link}}/>
    {{d-button action="close" class="btn-flat close" icon="times" aria-label="share.close" title="share.close"}}
  </div>
{{/if}}
