{{#if selectedItem}}
  <div class="name">
    {{#if editName}}
      {{text-field value=selectedItem.name}}
    {{else}}
      <h2>{{selectedItem.name}}</h2>
      {{d-button action="editName" icon="pencil" class="no-text btn-small"}}
    {{/if}}
  </div>
  <div class="desc">
    {{#if controller.editName}}
      {{textarea value=selectedItem.description}}
    {{else}}
      {{selectedItem.description}}
    {{/if}}
  </div>
  <div class="sql">
    {{textarea value=selectedItem.sql}}
  </div>
  <div class="left-buttons">
    {{d-button action="save" label="explorer.save" disabled=saveDisabled}}
    {{d-button action="download" label="explorer.export" disabled=runDisabled icon="download"}}
  </div>
  <div class="right-buttons">
    {{#if selectedItem.destroyed}}
      {{d-button action="recover" class="" icon="undo" label="explorer.recover"}}
    {{else}}
      {{d-button action="discard" class="btn-danger" icon="undo" label="explorer.undo" disabled=saveDisabled}}
      {{d-button action="destroy" class="btn-danger" icon="trash" label="explorer.delete"}}
    {{/if}}
  </div>
  <div class="clear"></div>
{{/if}}
