<h3>Queries</h3>
{{text-field value=newQueryName placeholderKey="explorer.create_placeholder"}}
{{d-button action="create" label="explorer.create" icon="plus"}}
{{d-button action="importQuery" label="explorer.import.label" icon="upload" class="import-button"}}
<div class="query-list">
<table>
  <thead>
  <tr>
    <th class="q-name">Name</th>
    <th class="q-desc">Description</th>
  </tr>
  </thead>
  <tbody>
    {{#each content as |query|}}
      <tr {{action "selectItem" query}}>
        <td class="q-name">{{query.name}}</td>
        <td class="q-desc">{{query.description}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>
<hr>
<div class="query-edit">
  {{render "admin/plugins-explorer-show" selectedItem}}
</div>
<hr>
<div class="query-results">
  {{results}}
</div>
