{{! source: badge-button component }}
<a href="{{baseuri}}/badges/{{badge.id}}/{{badge.name}}"
   class="user-badge {{badge.badgeTypeClassName}}"
   title="{{badge.displayDescription}}"
   data-badge-name="{{badge.name}}">{{icon-or-image badge.icon}}
<span class="badge-display-name">{{badge.name}}</span></a>
