{{#if this.hideSchema}}
  <DButton
    @action={{this.expandSchema}}
    @icon="chevron-left"
    @class="no-text unhide"
  />
{{else}}
  <div class="schema">
    <div class="schema-search inline-form full-width">
      <input
        type="text"
        {{on "input" (action "filterChanged" value="target.value")}}
      />
      <DButton
        @action={{this.collapseSchema}}
        @icon="chevron-right"
        @class="no-text"
      />
    </div>

    <div class="schema-container">
      <ConditionalLoadingSpinner @condition={{this.loading}}>
        <ul>
          {{#each this.filteredTables as |table|}}
            <ExplorerSchema::OneTable @table={{table}} />
          {{/each}}
        </ul>
      </ConditionalLoadingSpinner>
    </div>
  </div>
{{/if}}