{{#if @hasParams}}
  <div class="query-params">
    <Form @onRegisterApi={{@onRegisterApi}} class="params-form" as |form|>
      {{#each @paramInfo as |pinfo|}}
        <ParamInput
          @params={{@params}}
          @initialValues={{@initialValues}}
          @info={{pinfo}}
          @updateParams={{@updateParams}}
          @form={{form}}
        />
      {{/each}}
    </Form>
  </div>
{{/if}}