<div class="param {{if this.valid 'valid' 'invalid'}}">
  <this.form.Field
    @name={{@info.identifier}}
    @title={{@info.identifier}}
    @validation={{this.validation}}
    @validate={{this.validate}}
    @onSet={{this.updateValue}}
    as |field|
  >
    {{#if (eq this.type "boolean")}}
      {{#if @info.nullable}}
        <field.Select name={{@info.identifier}} as |select|>
          {{#each this.boolTypes as |t|}}
            <select.Option @value={{t.id}}> {{t.name}} </select.Option>
          {{/each}}
        </field.Select>
      {{else}}
        <field.Checkbox name={{@info.identifier}} />
      {{/if}}
    {{else if (eq this.type "int")}}
      <field.Input @type="number" name={{@info.identifier}} />
    {{else if (eq this.type "string")}}
      <field.Input name={{@info.identifier}} />
    {{else if (eq this.type "user_id")}}
      <field.Custom id={{field.id}}>
        <EmailGroupUserChooser
          @value={{this.value}}
          @options={{hash maximum=1}}
          @onChange={{this.updateValue}}
          name={{@info.identifier}}
        />
      </field.Custom>
    {{else if (eq this.type "group_list")}}
      <field.Custom id={{field.id}}>
        <GroupChooser
          @content={{this.allGroups}}
          @value={{this.value}}
          @labelProperty="name"
          @valueProperty="name"
          @onChange={{this.updateValue}}
        />
      </field.Custom>
    {{else if (eq this.type "user_list")}}
      <field.Custom id={{field.id}}>
        <EmailGroupUserChooser
          @value={{this.value}}
          @onChange={{this.updateValue}}
          name={{@info.identifier}}
        />
      </field.Custom>
    {{else if (eq this.type "category_id")}}
      <field.Custom id={{field.id}}>
        <CategoryChooser
          @value={{this.value}}
          @onChange={{this.updateValue}}
          name={{@info.identifier}}
        />
      </field.Custom>
    {{else}}
      <field.Input name={{@info.identifier}} />
    {{/if}}
  </this.form.Field>
</div>