<div class="share-report">
  <a href="#" {{on "click" this.open}} class="share-report-button">
    {{d-icon "link"}}
    {{@group}}
  </a>

  {{#if this.visible}}
    <div
      class="popup"
      {{did-insert this.registerListeners}}
      {{will-destroy this.unregisterListeners}}
    >
      <label>{{i18n "explorer.link"}} {{@group}}</label>
      <input type="text" value={{this.link}} {{did-insert this.focusInput}} />

      <DButton
        @action={{this.close}}
        @icon="xmark"
        @aria-label="share.close"
        @title="share.close"
        class="btn-flat close"
      />
    </div>
  {{/if}}
</div>